@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #eeeeee;
    --background-fg: #222831;
    --accent: #a4afaf;
    --accent-fg: #222831;
    --primary: #222831;
    --primary-fg: #eeeeee;
    --secondary: #629092;
    --secondary-fg: #eeeeee;
  }

  .dark {
    --background: #222831;
    --background-fg: #eeeeee;
    --accent: #31363f;
    --accent-fg: #eeeeee;
    --primary: #eeeeee;
    --primary-fg: #222831;
    --secondary: #76abae;
    --secondary-fg: #222831;
  }
}
